.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footer a {
  color: inherit;
}

@media (max-width: 1100px) {
  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
  }
}
